<section class="skills section" id="experience">
	<div class="container-fluid " id="post-index"> 
	  <div id="main">
		<article>
		
	  <div class="container  py-5 soft-skills" id="icon-grid">
		  
		<h2 class="pb-2 border-bottom">Experience</h2>
 
  <div class="row pt-4">
	<div class="col-lg-4 mb-1 mb-lg-0">
		<p class="h5 mb-0">(Contract) Web Developer </p>
		<p class="opacity-75"><span class="font-italic">FrontSeat SEO</span> <br>Remote <br> 10/2018 - Present</p>
	</div>
	<div class="col-lg-8">
		
		<ul class="list-unstyled">
			
			<li>

				<ul>
					<li>Develop unique web applications an configure database/server infrastructure.</li>
					<li>Maintain and update web applications regularly.</li>
					<li>Provide documentation for clients to properly utilize their preferred content management systems.</li>
					<li>Provide technical support to other web design team members as directed. </li>

			</ul>
			</li>
			

	</ul>
		
	</div>
</div>
<div class="row pt-4">
	<div class="col-lg-4 mb-1 mb-lg-0">
		<p class="h5 mb-0">Forklift Operator</p>
		<p class="opacity-75"><span class="font-italic">Walmart Distribution Center</span> <br>Lagrange, GA <br> 11/2018 - 04/2021</p>
		
	</div>
	<div class="col-lg-8">
		
		<ul class="list-unstyled">
			
			<li>

				<ul>
					<li>Proper disposal of harmful chemicals while strictly following OSHA guidelines and recording proper documentation.</li>
					<li>Effectively utilized warehouse management software to process inbound freight to ensure on-time delivery to Walmart stores.</li>
					<li>Access several internal databases simultaneously to receive freight that lacks necessary information in the system to process otherwise.</li>
					<li>Communicate efficiently in a large team with associates, management, and other departments as well as train new associates. </li>

			</ul>
			</li>
			

	</ul>
		
	</div>
</div>
<div class="row pt-4">
	<div class="col-lg-4 mb-1 mb-lg-0">
		<p class="h5 mb-0">Forklift Operator</p>
		<p class="opacity-75"><span class="font-italic">Coating Concepts GmbH </span> <br> Wörrstadt, Germany <br> 05/2018 - 10/2018</p>
	</div>
	<div class="col-lg-8">
		
		<ul class="list-unstyled">
		
			<li>

				<ul>
					<li>Executed several logistics operations including receiving, shipping, transporting, storing, and inventory for a small company that primarily
						serviced Porsche and Bugatti.</li>
					<li>Communicated effectively with colleagues using a radio to ensure on-time deliveries.</li>
					<li>Performed labeling, sorting, wrapping, and packaging of finished products while following strict guidelines.</li>
					<li>Evaluated all incoming shipments to ensure the quantity and model/serial numbers for each item was accurate as well as recorded all
						necessary paperwork.</li>

			</ul>
			</li>
			

	</ul>
		
	</div>
</div>

	  </div>
	
		</article>
	  </div>
	</div>
	 
  </section>