<style>.modal-content {background-color: rgba(255,255,255,0.9);
}
	</style>
<div id="post-index">

	<div id="main">

		<article>
			
<!-----------------------------------------  FIRST MODAL------------------------------>
			<div class="modal fade bd-example-modal-lg first" id = "#first" tabindex="-1" role="dialog" aria-labelledby="#https://www.frontseatseo.andrewlogan.dev/" aria-hidden="true">
			  <div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myLargeModalLabel"> Website: Digital Marketing Agency</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					  </button>
				</div>
				<div class="modal-body">
					<div class="row">
						
						<div class="col-lg-10">
							<p>This is a website I built for a digital marketing agency (FrontseatSEO) that includes 12 pages total. It was a lot of fun putting this site together because I got to expermient with some new technologies such as Velocity.js. 
								The demo link version of this site is a static copy. The production version of the site was deployed via NodeJs, Express, and Heroku. </p>
							<div class="media">
								
								<div class="align-self-start mr-3">
									<i style="font-size: 20px;" class="ti-link"></i>
									
								</div>
								
								<div class="media-body">
									<a href="https://www.frontseatseo.andrewlogan.dev/" target="_blank" rel="noopener noreferrer"><h4 class="media-heading">https://www.frontseatseo.andrewlogan.dev/</h4></a>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			  </div>
			</div>

<!-----------------------------------------  SECOND MODAL------------------------------>
<div class="modal fade bd-example-modal-lg second"  tabindex="-1" role="dialog" aria-labelledby="#https://www.badabings.andrewlogan.dev/" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
	  <div class="modal-content">
	  <div class="modal-header">
		  <h4 class="modal-title" id="myLargeModalLabel"> Musician Website / E-commerce Store</h4>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">×</span>
			</button>
	  </div>
	  <div class="modal-body">
		  <div class="row">
			  
			  <div class="col-lg-10">
				  <p>This is a fully functional WordPress theme I built and designed for a local artist. Woocommerce is set up for the E-commerce platform </p>
				  <div class="media">
					  
					  <div class="align-self-start mr-3">
						  <i style="font-size: 20px;" class="ti-link"></i>
						  
					  </div>
					  
					  <div class="media-body">
						  <a href="https://www.badabings.andrewlogan.dev/" target="_blank" rel="noopener noreferrer"><h4 class="media-heading">https://www.badabings.andrewlogan.dev/</h4></a>
						  
						  
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
	  </div>
	</div>
  </div>
  <!-----------------------------------------  THIRD MODAL------------------------------>
<div class="modal fade bd-example-modal-lg third"  tabindex="-1" role="dialog" aria-labelledby="#https://www.badabings.andrewlogan.dev/" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
	  <div class="modal-content">
	  <div class="modal-header">
		  <h4 class="modal-title text-center " id="myLargeModalLabel"> </h4>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">×</span>
			</button>
	  </div>
	  <div class="modal-body">
		
			  
			<img src="https://i.imgur.com/MtFDRKo.png" alt="">
		 
	  </div>
	  </div>
	</div>
  </div>
  <!-----------------------------------------  FOURTH MODAL------------------------------>
  <div class="modal fade bd-example-modal-lg fourth"  tabindex="-1" role="dialog" aria-labelledby="#https://www.badabings.andrewlogan.dev/" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
	  <div class="modal-content">
	  <div class="modal-header">
		  <h4 class="modal-title" id="myLargeModalLabel"> Calculator: Try it out!</h4>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">×</span>
			</button>
	  </div>
	  <div class="modal-body">
		  <div class="row">
			  
			  <div class="col-lg-10">
				 
				<div class="calc">
					<section class="screen">
						0
					</section>
					<section class="calc-buttons">
				
				   
					<div class="calc-row">
						<button class="double calc-button">C</button>
						<button class="calc-button">&#x2190;</button>
						<button class="calc-button">&#247;</button>
					</div>
					<div class="calc-row">
						<button class="calc-button">7</button>
						<button class="calc-button">8</button>
						<button class="calc-button">9</button>
						<button class="calc-button">&#215;</button>
					</div>
					<div class="calc-row">
						<button class="calc-button">4</button>
						<button class="calc-button">5</button>
						<button class="calc-button">6</button>
						<button class="calc-button">-</button>
					</div>
					<div class="calc-row">
						<button class="calc-button">1</button>
						<button class="calc-button">2</button>
						<button class="calc-button">3</button>
						<button class="calc-button">+</button>
					</div>
					<div class="calc-row">
						<button class="triple calc-button">0</button>
						<button class="calc-button">=</button>
					</div>
				</section>
				</div>
			  </div>
		  </div>
	  </div>
	  </div>
	</div>
  </div>
    <!-----------------------------------------  FIFTH MODAL------------------------------>
	<div class="modal fade bd-example-modal-lg fifth"  tabindex="-1" role="dialog" aria-labelledby="#https://www.badabings.andrewlogan.dev/" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
		  <div class="modal-content">
		  <div class="modal-header">
			  <h4 class="modal-title" id="myLargeModalLabel"> Pomodoro App</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button>
		  </div>
		  <div class="modal-body">
			<div class="row">
				<div class="col-lg-6">
<img style = "max-width: 100%" src="https://i.imgur.com/FSfHN6u.gif" alt="">
				</div>
				<div class="col-lg-6">
					<p>This is an app I built that can be used to track work session following the pomodoro technique. The app works as a timer that stores/logs work sessions upon completition. After completing one work sessions an image of a half-filled tomato will appear. Once a whole hour of work is completed, then the tomato will be completely filled. 1 hour = 1 whole tomato. Each work session is logged and categorized by Month on the archive page. Creating this app was a challenge because I decided to create it using primarily vanilla JS. Other than a bit of jQuery this app does not require any kind of front-end framework. For demonstration purposes I set work session duration to 10 seconds and the break duration to 5 seconds. For this project I used MongoDB, jQuery, nodeJS, & expressJS</p>
					<div class="media">
						
						<div class="align-self-start mr-3">
							<i style="font-size: 20px;" class="ti-link"></i>
							
						</div>
						
						<div class="media-body">
							<a href="https://www.pomoprogress.com" target="_blank" rel="noopener noreferrer"><h4 class="media-heading">https://www.pomoprogress.com/</h4></a>
							
							
						</div>
				</div>
			</div>
		  </div>
		  </div>
		</div>
	  </div>
</div>
  <!-----------------------------------------  SIXTH MODAL------------------------------>
  <div id = "vidModal" class="modal fade bd-example-modal-lg sixth"  tabindex="-1" role="dialog" aria-labelledby="#https://www.badabings.andrewlogan.dev/" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" >
	  <div class="modal-content">
	  <div class="modal-header">
		  
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">×</span>
			</button>
	  </div>
	  <div class="modal-body" style="margin:0 auto">
	<img src="https://i.imgur.com/9ikIctS.gif" alt="">
	  </div>
	</div>
  </div>
</div>
			{{ $data := index site.Data site.Language.Lang }}

{{ if $data.portfolio.portfolio.enable }}
{{ with $data.portfolio.portfolio }}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="portfolio section" id="portfolio">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
				{{"<!-- /section title -->" | safeHTML}}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="btn-group portfolio-filter btn-group-toggle justify-content-center d-flex flex-wrap"
					data-toggle="buttons">
					<label class="btn active">
						<input type="radio" name="shuffle-filter" value="all" checked="checked" />{{ i18n "all"}}
					</label>
					{{ $categories := slice }}
					{{ range .portfolio_item }}
					{{ range .categories }}
					{{ $categories = $categories | append . }}
					{{ end }}
					{{ end }}
					{{ range ( $categories | uniq ) }}
					<label class="btn">
						<input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
					</label>
					{{ end }}
				</div>
			</div>
		</div>

		<div class="row shuffle-wrapper justify-content-center">
			{{"<!-- portfolio item -->" | safeHTML}}
			{{ range .portfolio_item }}
			<div class="col-lg-4 col-md-6 shuffle-item"
				data-groups="[{{range $index, $element:= .categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
				<div class="portfolio-block mb-4">
					<img class="img-fluid" src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
					<div class="caption">
					

						<svg type="button" data-toggle="modal" data-target=".{{ .content }}"
					 xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-info-circle-fill {{ .content }}" viewBox="0 0 16 16">
							<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
						  </svg>

	
						

						<h4 class="mt-3">
							{{ if or (eq .link "#") (eq .link "") }}
							{{ .name }}
							{{ else }}
							<a href="{{ .link | safeURL }}">{{ .name }}</a>
							{{ end }}
						</h4>
						
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
{{ end }}

		</article>
	</div>
</div>


