<style>
  .modal-content {
    background-color: rgba(255, 255, 255, 1);
  }
</style>
<div id="post-index">
  <div id="main">
    <article>
      <!-----------------------------------------  FIRST MODAL------------------------------>
      <div
        class="modal fade bd-example-modal-lg first"
        id="#first"
        tabindex="-1"
        role="dialog"
        aria-labelledby="#https://www.frontseatseo.andrewlogan.dev/"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">
                Website: Digital Marketing Agency
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <img
                    style="max-width: 100%"
                    src="https://i.imgur.com/EMIUWJL.gif"
                    alt=""
                  />
                </div>
                <div class="col-lg-10 mt-4">
                  <p>
                    This is a website I built for a digital marketing agency
                    (FrontseatSEO) that includes 12 pages total. It was a lot of
                    fun putting this site together because I got to expermient
                    with some new technologies such as Velocity.js. The demo
                    link version of this site is a static copy. The production
                    version of the site was deployed via NodeJs, Express, and
                    Heroku.
                  </p>
                  <div class="media">
                    <div class="align-self-start mr-3">
                      <i style="font-size: 20px" class="ti-link"></i>
                    </div>

                    <div class="media-body">
                      <a
                        href="https://www.frontseatseo.andrewlogan.dev/"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><h4 class="media-heading">Live Demo</h4></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-----------------------------------------  SECOND MODAL------------------------------>
      <div
        class="modal fade bd-example-modal-lg second"
        tabindex="-1"
        role="dialog"
        aria-labelledby="#https://www.badabings.andrewlogan.dev/"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">
                Musician Website / E-commerce Store
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-10">
                  <p>
                    This is a fully functional WordPress theme I built and
                    designed for a local artist. Woocommerce is set up for the
                    E-commerce platform
                  </p>
                  <div class="media">
                    <div class="align-self-start mr-3">
                      <i style="font-size: 20px" class="ti-link"></i>
                    </div>

                    <div class="media-body">
                      <a
                        href="https://www.badabings.andrewlogan.dev/"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><h4 class="media-heading">
                          https://www.badabings.andrewlogan.dev/
                        </h4></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------------  THIRD MODAL------------------------------>
      <div
        class="modal fade bd-example-modal-lg third"
        tabindex="-1"
        role="dialog"
        aria-labelledby="#https://www.badabings.andrewlogan.dev/"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-center" id="myLargeModalLabel"></h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-8" style="margin: 0 auto">
                  <img
                    style="max-width: 100%"
                    src="https://i.imgur.com/MtFDRKo.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------------  FOURTH MODAL------------------------------>
      <div
        class="modal fade bd-example-modal-lg fourth"
        tabindex="-1"
        role="dialog"
        aria-labelledby="#https://www.badabings.andrewlogan.dev/"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">
                Calculator: Try it out!
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-10">
                  <div class="calc" style="max-width: 100%">
                    <section class="screen">0</section>
                    <section class="calc-buttons">
                      <div class="calc-row">
                        <button class="double calc-button">C</button>
                        <button class="calc-button">&#x2190;</button>
                        <button class="calc-button">&#247;</button>
                      </div>
                      <div class="calc-row">
                        <button class="calc-button">7</button>
                        <button class="calc-button">8</button>
                        <button class="calc-button">9</button>
                        <button class="calc-button">&#215;</button>
                      </div>
                      <div class="calc-row">
                        <button class="calc-button">4</button>
                        <button class="calc-button">5</button>
                        <button class="calc-button">6</button>
                        <button class="calc-button">-</button>
                      </div>
                      <div class="calc-row">
                        <button class="calc-button">1</button>
                        <button class="calc-button">2</button>
                        <button class="calc-button">3</button>
                        <button class="calc-button">+</button>
                      </div>
                      <div class="calc-row">
                        <button class="triple calc-button">0</button>
                        <button class="calc-button">=</button>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------------  FIFTH MODAL------------------------------>
      <div
        class="modal fade bd-example-modal-lg fifth"
        tabindex="-1"
        role="dialog"
        aria-labelledby="#https://www.badabings.andrewlogan.dev/"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">Pomodoro App</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-6">
                  <img
                    style="max-width: 100%"
                    src="https://i.imgur.com/FSfHN6u.gif"
                    alt=""
                  />
                </div>
                <div class="col-lg-6">
                  <p>
                    This is an app I built that can be used to track work
                    session following the pomodoro technique. The app works as a
                    timer that stores/logs work sessions upon completition.
                    After completing one work sessions an image of a half-filled
                    tomato will appear. Once a whole hour of work is completed,
                    then the tomato will be completely filled. 1 hour = 1 whole
                    tomato. Each work session is logged and categorized by Month
                    on the archive page. Creating this app was a challenge
                    because I decided to create it using primarily vanilla JS.
                    Other than a bit of jQuery this app does not require any
                    kind of front-end framework. For demonstration purposes I
                    set work session duration to 10 seconds and the break
                    duration to 5 seconds. For this project I used MongoDB,
                    jQuery, nodeJS, & expressJS
                  </p>
                  <div class="media">
                    <div class="align-self-start mr-3">
                      <i style="font-size: 20px" class="ti-link"></i>
                    </div>

                    <div class="media-body">
                      <a
                        href="https://infinite-sands-94568.herokuapp.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><h4 class="media-heading">Live Demo</h4></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-----------------------------------------  SIXTH MODAL------------------------------>
      <div
        id="vidModal"
        class="modal fade bd-example-modal-lg sixth"
        tabindex="-1"
        role="dialog"
        aria-labelledby="#https://www.badabings.andrewlogan.dev/"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" style="margin: 0 auto">
              <img
                style="max-width: 100%"
                src="https://i.imgur.com/9ikIctS.gif"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <!-----------------------------------------  SEVENTH MODAL------------------------------>
      <div
        class="modal fade bd-example-modal-lg seventh"
        tabindex="-1"
        role="dialog"
        aria-labelledby="#https://www.badabings.andrewlogan.dev/"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">
                Musician App <span style="display: inline-block"></span>
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-5 mt-5">
                 
                  <p>
                    This is application is a progressive web application that you can download on your phone and functions identically to a native application. With the help of <a style="color: #222c; text-decoration: underline;" href="https://capacitorjs.com/" target="_blank" rel="noopener noreferrer">capacitorJS</a> the PWA apps I've built can be converted to a native iOS/Android application. <br> To learn more about what PWA's can do check out this <a style="color: #222c; text-decoration: underline;" href="https://whatpwacando.today/" target="_blank" rel="noopener noreferrer">link.</a>
                  </p>
<div class="qr-container">
  <p>
    View PWA on mobile device for best experience. 
  </p>
  <div class="qr-band-app"></div>
</div>

                  
                  
                  <a
                    href="https://capacitorjs.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >capacitorJS</a
                  >
                  <br />

                  <img
                    style="max-width: 100%"
                    width="175px"
                    src="images/capacitor.png"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-lg-7">
               
               
                  <p class="text-center mb-0">
                   
                    <span data-toggle="tooltip"  data-placement="top" title="Note: Scrollbar is hidden" style="color: red; font-weight: 800">Live Demo </span
                    >
                  </p>
                 
                  <div class="iphone-bg-black">
                    <div class="sim-wrapper">
                      <iframe
                        id="simulator"
                        class=""
                        scrolling="no"
                        src="https://www.apps.andrewlogan.dev/apps/band-app/index.html"
                        frameborder="0"
                        width="86%"
                        height="86%"
                        style="position: absolute; top: 7%; left: 7%"
                      ></iframe>
                    </div>
                  </div>
            
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-----------------------------------------  EIGHTH MODAL------------------------------>
        <div
        class="modal fade bd-example-modal-lg eighth"
        tabindex="-1"
        role="dialog"
        aria-labelledby="#https://www.badabings.andrewlogan.dev/"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">
                Photography <span style="display: inline-block"></span>
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-5 mt-5">
                 
                  <p>
                    This is application is a progressive web application that you can download on your phone and functions identically to a native application. With the help of <a style="color: #222c; text-decoration: underline;" href="https://capacitorjs.com/" target="_blank" rel="noopener noreferrer">capacitorJS</a> the PWA apps I've built can be converted to a native iOS/Android application. <br> To learn more about what PWA's can do check out this <a style="color: #222c; text-decoration: underline;" href="https://whatpwacando.today/" target="_blank" rel="noopener noreferrer">link.</a>
                  </p>
<div class="qr-container">
  <p>
    View PWA on mobile device for best experience. 
  </p>
  <div class="qr-photography"></div>
</div>

                  
                  
                  <a
                    href="https://capacitorjs.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >capacitorJS</a
                  >
                  <br />

                  <img
                    style="max-width: 100%"
                    width="175px"
                    src="images/capacitor.png"
                    alt=""
                    srcset=""
                  />
                </div>
                <div class="col-lg-7">
                  <p class="text-center mb-0">
                   
                    <span data-toggle="tooltip"  data-placement="top" title="Note: Scrollbar is hidden" style="color: red; font-weight: 800">Live Demo </span
                    >
                  </p>
                  <div class="iphone-bg">
                    <div class="sim-wrapper">
                      <iframe
                        id="simulator"
                        class=""
                        scrolling="no"
                        src="https://www.apps.andrewlogan.dev/apps/photography_app/index.html"
                        frameborder="0"
                        width="86%"
                        height="86%"
                        style="position: absolute; top: 7%; left: 7%"
                      ></iframe>
                    </div>
                  </div>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-----------------------------------------  NINTH MODAL------------------------------>
          <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade bd-example-modal-lg ninth ">
            <div role="document" class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
            
                    <div class="modal-header row d-flex justify-content-start  mx-sm-0 mb-0 pb-0 border-0" style="background-color: #f8f9fa;">
                        <div class="tabs active" id="tab01">
                            <h6 class="text-muted">Client</h6>
                        </div>
                        <div class="tabs" id="tab02">
                            <h6 class="font-weight-bold">Admin</h6>
                        </div>
                        <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">×</span>
                    </button>
                     
                    </div>
                    
                    <div class="modal-body ">
                        <fieldset id="tab011" class="show">
                         
                          <div class="row">
                            <div class="col-lg-5">
                              <h4>Ecommerce</h4>
                              <div class="line"></div>
                              
                 
                                <p>
                                  This is application is a progressive web application that you can download on your phone and functions identically to a native application. With the help of <a style="color: #222c; text-decoration: underline;" href="https://capacitorjs.com/" target="_blank" rel="noopener noreferrer">capacitorJS</a> the PWA apps I've built can be converted to a native iOS/Android application. <br> To learn more about what PWA's can do check out this <a style="color: #222c; text-decoration: underline;" href="https://whatpwacando.today/" target="_blank" rel="noopener noreferrer">link.</a>
                                </p>
              <div class="qr-container">
                <p>
                  View PWA on mobile device for best experience. 
                </p>
                <div class="qr-ecommerce"></div>
              </div>
              
                                
                                
                                <a
                                  href="https://capacitorjs.com"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                  >capacitorJS</a
                                >
                                <br />
              
                                <img
                                  style="max-width: 100%"
                                  width="175px"
                                  src="images/capacitor.png"
                                  alt=""
                                  srcset=""
                                />
                              
                            </div>
                            <div class="col-lg-7">
                              <p class="text-center mb-0">
                   
                                <span data-toggle="tooltip"  data-placement="top" title="Note: Scrollbar is hidden" style="color: red; font-weight: 800">Live Demo </span
                                >
                              </p>
                              <div class="iphone-bg">
                                <div class="sim-wrapper">
                                  <iframe
                                  id="simulator"
                                  class=""
                                  scrolling="no"
                                  src="https://www.apps.andrewlogan.dev/apps/ecommerce_client/index.html"
                                  frameborder="0"
                                  width="86%"
                                  height="86%"
                                  style="position: absolute; top: 7%; left: 7%"
                                ></iframe>
                                </div>
                              </div>
                            
                            </div>
                          </div>
                        </fieldset>
                        <fieldset id="tab021">
                          <div class="row">
                            <div class="col-lg-5">
                              <h4>Ecommerce</h4>
                              <div class="line"></div>
                              <p class="mt-5">
                              Admin Dashboard Demo
                              </p>
                           
                            </div>
                            <div class="col-lg-7">
                            

                             
                                <video id = "adminVid" src="http://localhost:8080/videos/ecommerce.webm"  playsinline style="pointer-events: none;"></video>
                            
                        
                            </div>
                          </div>
                        </fieldset>
                    
                    </div>
                   
                </div>
            </div>
        </div>
           <!-----------------------------------------  TENTH MODAL------------------------------>
           <div
           class="modal fade bd-example-modal-lg tenth"
           tabindex="-1"
           role="dialog"
           aria-labelledby="#https://www.badabings.andrewlogan.dev/"
           aria-hidden="true"
         >
           <div class="modal-dialog modal-lg modal-dialog-centered">
             <div class="modal-content">
               <div class="modal-header">
                 <h4 class="modal-title" id="myLargeModalLabel">
                   InstaClone <span style="display: inline-block"></span>
                 </h4>
                 <button
                   type="button"
                   class="close"
                   data-dismiss="modal"
                   aria-label="Close"
                 >
                   <span aria-hidden="true">×</span>
                 </button>
               </div>
               <div class="modal-body">
                 <div class="row">
                  <div class="col-lg-5 mt-5">
                 
                    <p>
                      This is application is a progressive web application that you can download on your phone and functions identically to a native application. With the help of <a style="color: #222c; text-decoration: underline;" href="https://capacitorjs.com/" target="_blank" rel="noopener noreferrer">capacitorJS</a> the PWA apps I've built can be converted to a native iOS/Android application. <br> To learn more about what PWA's can do check out this <a style="color: #222c; text-decoration: underline;" href="https://whatpwacando.today/" target="_blank" rel="noopener noreferrer">link.</a>
                    </p>
  <div class="qr-container">
    <p>
      View PWA on mobile device for best experience. 
    </p>
    <div class="qr-instaclone"></div>
  </div>
  
                    
                    
                    <a
                      href="https://capacitorjs.com"
                      target="_blank"
                      rel="noopener noreferrer"
                      >capacitorJS</a
                    >
                    <br />
  
                    <img
                      style="max-width: 100%"
                      width="175px"
                      src="images/capacitor.png"
                      alt=""
                      srcset=""
                    />
                  </div>
                   <div class="col-lg-7">
                    <p class="text-center mb-0">
                   
                      <span data-toggle="tooltip"  data-placement="top" title="Note: Scrollbar is hidden" style="color: red; font-weight: 800">Live Demo </span
                      >
                    </p>
                     <div class="iphone-bg">
                       <div class="sim-wrapper">
                         <iframe
                           id="simulator"
                           class=""
                           scrolling="no"
                           src="https://www.apps.andrewlogan.dev/apps/instaclone/index.html"
                           frameborder="0"
                           width="86%"
                           height="86%"
                           style="position: absolute; top: 7%; left: 7%"
                         ></iframe>
                       </div>
                     </div>
                    
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
                 <!-----------------------------------------  ELEVENTH MODAL------------------------------>
                 <div
                 class="modal fade bd-example-modal-lg eleventh"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="#https://www.badabings.andrewlogan.dev/"
                 aria-hidden="true"
               >
                 <div class="modal-dialog modal-lg modal-dialog-centered">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h4 class="modal-title" id="myLargeModalLabel">
                         Rental App <span style="display: inline-block"></span>
                       </h4>
                       <button
                         type="button"
                         class="close"
                         data-dismiss="modal"
                         aria-label="Close"
                       >
                         <span aria-hidden="true">×</span>
                       </button>
                     </div>
                     <div class="modal-body">
                       <div class="row">
                        <div class="col-lg-5 mt-5">
                 
                          <p>
                            This is application is a progressive web application that you can download on your phone and functions identically to a native application. With the help of <a style="color: #222c; text-decoration: underline;" href="https://capacitorjs.com/" target="_blank" rel="noopener noreferrer">capacitorJS</a> the PWA apps I've built can be converted to a native iOS/Android application. <br> To learn more about what PWA's can do check out this <a style="color: #222c; text-decoration: underline;" href="https://whatpwacando.today/" target="_blank" rel="noopener noreferrer">link.</a>
                          </p>
        <div class="qr-container">
          <p>
            View PWA on mobile device for best experience. 
          </p>
          <div class="qr-rental"></div>
        </div>
        
                          
                          
                          <a
                            href="https://capacitorjs.com"
                            target="_blank"
                            rel="noopener noreferrer"
                            >capacitorJS</a
                          >
                          <br />
        
                          <img
                            style="max-width: 100%"
                            width="175px"
                            src="images/capacitor.png"
                            alt=""
                            srcset=""
                          />
                        </div>
                         <div class="col-lg-7">
                          <p class="text-center mb-0">
                   
                            <span data-toggle="tooltip"  data-placement="top" title="Note: Scrollbar is hidden" style="color: red; font-weight: 800">Live Demo </span
                            >
                          </p>
                           <div class="iphone-bg">
                             <div class="sim-wrapper">
                               <iframe
                                 id="simulator"
                                 class=""
                                 scrolling="no"
                                 src="https://www.apps.andrewlogan.dev/apps/rental_app/index.html"
                                 frameborder="0"
                                 width="86%"
                                 height="86%"
                                 style="position: absolute; top: 7%; left: 7%"
                               ></iframe>
                             </div>
                           </div>
                          
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
              
               <div
               class="modal fade bd-example-modal-lg twelth"
               tabindex="-1"
               role="dialog"
               aria-labelledby="#https://www.badabings.andrewlogan.dev/"
               aria-hidden="true"
             >
               <div class="modal-dialog modal-lg modal-dialog-centered">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h4 class="modal-title" id="myLargeModalLabel">
                       Restaurant App <span style="display: inline-block"></span>
                     </h4>
                     <button
                       type="button"
                       class="close"
                       data-dismiss="modal"
                       aria-label="Close"
                     >
                       <span aria-hidden="true">×</span>
                     </button>
                   </div>
                   <div class="modal-body">
                     <div class="row">
                      <div class="col-lg-5 mt-5">
                 
                        <p>
                          This is application is a progressive web application that you can download on your phone and functions identically to a native application. With the help of <a style="color: #222c; text-decoration: underline;" href="https://capacitorjs.com/" target="_blank" rel="noopener noreferrer">capacitorJS</a> the PWA apps I've built can be converted to a native iOS/Android application. <br> To learn more about what PWA's can do check out this <a style="color: #222c; text-decoration: underline;" href="https://whatpwacando.today/" target="_blank" rel="noopener noreferrer">link.</a>
                        </p>
      <div class="qr-container">
        <p>
          View PWA on mobile device for best experience. 
        </p>
        <div class="qr-restaurant"></div>
      </div>
      
                        
                        
                        <a
                          href="https://capacitorjs.com"
                          target="_blank"
                          rel="noopener noreferrer"
                          >capacitorJS</a
                        >
                        <br />
      
                        <img
                          style="max-width: 100%"
                          width="175px"
                          src="images/capacitor.png"
                          alt=""
                          srcset=""
                        />
                      </div>
                       <div class="col-lg-7">
                        <p class="text-center mb-0">
                   
                          <span data-toggle="tooltip"  data-placement="top" title="Note: Scrollbar is hidden" style="color: red; font-weight: 800">Live Demo </span
                          >
                        </p>
                         <div class="iphone-bg">
                           <div class="sim-wrapper">
                             <iframe
                               id="simulator"
                               class=""
                               scrolling="no"
                               src="https://www.apps.andrewlogan.dev/apps/restaurant_loyality/index.html"
                               frameborder="0"
                               width="86%"
                               height="86%"
                               style="position: absolute; top: 7%; left: 7%"
                             ></iframe>
                           </div>
                         </div>
                        
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             {{ $data := index site.Data site.Language.Lang }}

             {{ if $data.portfolio.portfolio.enable }}
             {{ with $data.portfolio.portfolio }}
             {{"<!-- Portfolio Section -->" | safeHTML}}
      <section class="portfolio section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              {{"<!-- section title -->" | safeHTML}}
              <div class="title text-center">
                <h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
                  {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
                <div class="border-meghna"></div>
              </div>
              {{"<!-- /section title -->" | safeHTML}}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div
                class="
                  btn-group
                  portfolio-filter
                  btn-group-toggle
                  justify-content-center
                  d-flex
                  flex-wrap
                "
                data-toggle="buttons"
              >
                <label class="btn active">
                  <input
                    type="radio"
                    name="shuffle-filter"
                    value="all"
                    checked="checked"
                  />{{ i18n "all"}}
                </label>
                {{ $categories := slice }} {{ range .portfolio_item }} {{ range
                .categories }} {{ $categories = $categories | append . }} {{ end
                }} {{ end }} {{ range ( $categories | uniq ) }}
                <label class="btn">
                  <input
                    type="radio"
                    name="shuffle-filter"
                    value="{{ . | urlize }}"
                  />{{ . | humanize }}
                </label>
                {{ end }}
              </div>
            </div>
          </div>

          <div class="row shuffle-wrapper justify-content-center">
            {{"<!-- portfolio item -->" | safeHTML}} {{ range .portfolio_item }}
            <div
              class="col-lg-4 col-md-6 shuffle-item"
              data-groups='[{{range $index, $element:= .categories }}{{if ne $index 0}},{{end}}"{{. | urlize}}"{{ end }}]'
            >
              <div class="portfolio-block mb-4">
                <img
                  class="img-fluid"
                  src="{{ .image_webp | absURL }}"
                  onerror="this.onerror=null;this.src='{{ .image | absURL }}'"
                  alt="{{ .name }}"
                />
                <div class="caption">
                  <svg
                    type="button"
                    data-toggle="modal"
                    data-target=".{{ .content }}"
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    fill="currentColor"
                    class="bi bi-info-circle-fill {{ .content }}"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
                    />
                  </svg>

                  <h4 class="mt-3">
                    {{ if or (eq .link "#") (eq .link "") }} {{ .name }} {{ else
                    }}
                    <a href="{{ .link | safeURL }}">{{ .name }}</a>
                    {{ end }}
                  </h4>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </section>
      {{"<!-- /Portfolio -->" | safeHTML}} {{ end }} {{ end }}
    </article>
  </div>
</div>
