<section class="skills section" id="education">
	<div class="container-fluid " id="post-index"> 
	  <div id="main">
		<article>
		
	  <div class="container  py-5 soft-skills" id="icon-grid">
		  
		<h2 class="pb-2 border-bottom">Education</h2>
 <div class="row pt-4">
	<div class="col-lg-4 mb-1 mb-lg-0">
		<p class="h5 mb-0">Front End Masters</p>
		<p class="opacity-75">05/2018 - Present</p>
	</div>
	<div class="col-lg-8">
		
		<ul class="list-unstyled">
			
			<li>
Completed Courses:
				<ul>
					<li>Deep JavaScript Foundations, v3 - Kyle Simpson</li>
					<li>JavaScript: The Hard Parts, v2 - Will Sentance</li>
					<li>Mastering Chrome Developer Tools v2 - Jon Kuperman</li>
					<li>JavaScript: From Fundamentals to Functional JS, v2 - Bianca Gandolfo </li>
          <li>Getting Started with JavaScript, v2 - Kyle Simpson </li>
          <li>Complete Intro to Web Development, v2 - Brian Holt</li>
          <li>CSS Grids and Flexbox for Responsive Web Design - Jen Kramer</li>
          <li>CSS In-Depth, v2 - Estelle Weyl</li>
          <li>Sass Fundamentals - Mike North</li>
          <li>Scalable Modular Architecture for CSS (SMACSS) - Jonathan Snook</li>

			</ul>
			</li>
			

	</ul>
		
	</div>
</div>
 

<div class="row pt-4">
	<div class="col-lg-4 mb-1 mb-lg-0">
		<p class="h5 mb-0">Troup County High School</p>
		<p class="opacity-75">08/2007 - 05/2011</p>
	</div>
	<div class="col-lg-8">
		
		<ul class="list-unstyled">
		
			<li>

				<ul>
					<li>High School Diploma</li>
				

			</ul>
			</li>
			

	</ul>
		
	</div>
</div>

	  </div>
	
		</article>
	  </div>
	</div>
	 
  </section>