

<div class="modal fade bd-example-modal-lg cert-img-modal"  tabindex="-1" role="dialog" aria-labelledby="#https://www.badabings.andrewlogan.dev/" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
    
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
    <div class="row">
      <div class="col-lg-10 text-center" style="margin: 0 auto">
<img style = "max-width: 100%; " src="https://i.imgur.com/ohEeHRx.jpg" alt="">
      </div>
     
    </div>
    </div>
  </div>
  </div>
</div>
<section class="skills section" id="education">
	<div class="container-fluid " id="post-index"> 
	  <div id="main">
		<article>
		
	  <div class="container  py-5 soft-skills" id="icon-grid">
		  
		<h2 class="pb-2 border-bottom">Education</h2>
 <div class="row pt-4">
	<div class="col-lg-4 mb-1 mb-lg-0">
		<p class="h5 mb-0">Front End Masters</p>
		<p class="opacity-75">05/2018 - Present</p>
	</div>
	<div class="col-lg-8">
		
		<ul class="list-unstyled">
			
			<li>
Completed Courses:
				<ul>
					<li>Deep JavaScript Foundations, v3 - Kyle Simpson</li>
					<li>JavaScript: The Hard Parts, v2 - Will Sentance</li>
					<li>Mastering Chrome Developer Tools v2 - Jon Kuperman</li>
					<li>JavaScript: From Fundamentals to Functional JS, v2 - Bianca Gandolfo </li>
          <li>Getting Started with JavaScript, v2 - Kyle Simpson </li>
          <li>Complete Intro to Web Development, v2 - Brian Holt</li>
          <li>CSS Grids and Flexbox for Responsive Web Design - Jen Kramer</li>
          <li>CSS In-Depth, v2 - Estelle Weyl</li>
          <li>Sass Fundamentals - Mike North</li>
          <li>Scalable Modular Architecture for CSS (SMACSS) - Jonathan Snook</li>

			</ul>
			</li>
			

	</ul>
		
	</div>
</div>
 

<div class="row pt-4">
	<div class="col-lg-4 mb-1 mb-lg-0">
		<p class="h5 mb-0">Troup County High School</p>
		<p class="opacity-75">08/2007 - 05/2011</p>
	</div>
	<div class="col-lg-8">
		
		<ul class="list-unstyled">
		
			<li>

				<ul>
					<li>High School Diploma</li>
				

			</ul>
			</li>
			

	</ul>
		
	</div>
</div>
<h2 class="pb-2 pt-5 border-bottom">Certifications</h2>
<div class="row pt-4">
	<div class="col-lg-4 mb-1 mb-lg-0">
		<p class="h5 mb-0">B2 German Goethe Certification</p>
		<p class="opacity-75"> <span class="font-italic">Goethe Institute, New York City, NY</span><br> 2016</p>
	</div>
	<div class="col-lg-8 certification">
		
	<img class = "ml-5"style = "cursor:zoom-in; border:solid 1px black" data-toggle="modal" data-target= ".cert-img-modal"src="https://i.imgur.com/jMOeLQy.png" alt="" width="150px">
		
	</div>
</div>
 

	  </div>
	
		</article>
	  </div>
	</div>
	 
  </section>